body{
    font-family: 'DM Sans', sans-serif;
    color: rgb(73, 73, 73);
}
h1{
    font-size: 40px;
    
}
.name{
    color: coral;

}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 90%;
}
#text-hover1:hover{
    color: rgb(255, 115, 80);
}


